{
  "bridge": {
    "username": "00:00:00:AA:AA:AA",
    "pin": "000-00-000"
  },
  "platforms": {
    "hue": {
      "ip_address": "127.0.0.1",
      "username": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
    }
  }
}
